{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="about-container">
        <div class="about-first">
            <div class="about-image">
                <img src="{% static 'logo.svg' %}" alt="" width="30" height="24">
            </div>
            <div class="about-text">
                <p>О компании </p>
                <p>
                    Компания CHEMY рада предложить Вам огромный выбор современного оборудования, материалов и средств для эффективной очистки, дезинфекции и дезинсекции любых поверхностей и помещений, а также, СИЗ и прочую продукцию данного направления.
                    Мы работаем на российском рынке с 2016 года. За это время свыше 3000 компаний и организаций стали нашими клиентами. Мы поставляем необходимые технические средства, расходные материалы и препараты во все регионы страны; сотрудничаем с крупными предприятиями, организациями, бюджетными учреждениями и частными лицами.
                    За период своего существования, компания CHEMY зарекомендовала себя, как  опытный, ответственный и надежный поставщик современной высококачественной продукции. Мы непрерывно расширяем предлагаемый ассортимент; регулярно участвуем в тематических выставках и конференциях, чтобы обеспечить Вас и Ваш бизнес лучшими и наиболее актуальными средствами очистки и дезинфекции.
                </p>
            </div>
        </div>
        <div class="about-second">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae8ed2489cacdf40fbe2b079ed1ff0682c9cb6974261a62ccb21ac6abe556de7d&amp;source=constructor" width="1046" height="580" frameborder="0" style="width: 100%; "></iframe>
            <div class="about-contacts">
                <form action="/about/", method="POST">
                    {% load crispy_forms_tags %}
                    {% crispy form %}
                </form>
            </div>
            
        </div>
    </div>
{% endblock%}