<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="/">
            <img src="{% static 'logo.svg' %}" alt="" width="30" height="24">
          </a>
          <button class="navbar-toggler" type="button" id="show-hide-navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-menu" id="navbar-menu">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
              </li>
              {% if current_user %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/basket">Корзина</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/orders">Заказы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/favorites">Избранное</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">О нас</a>
              </li>
            </ul>
            <ul class="navbar-nav" style="display: flex; gap: 12px;">
              {% if current_user %}
              <a href="{% url 'change_user' %}" type="button" class="btn btn-success">Аккаунт: {{ current_user.username }}</a >
              <a href="{% url 'logout' %}" type="button" class="btn btn-danger">Выйти</a >
              {% else %}
              <a href="{% url 'login' %}" type="button" class="btn btn-success">Войти</a >
              <a href="{% url 'reg' %}" type="button" class="btn btn-success">Зарегистрироваться</a >
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>
    {% block header %}
    
    {% endblock %}
    <main>
      
      
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      <p><span>2023 © Компания "Chemy".</span><span>Все права зарезервированы.</span></p>
      <a class="footer-logo" href="/">
        <img src="{% static 'logo.svg' %}" alt="" width="30" height="24">
      </a>
      <ul>
        <li>
          <a href="/">Главная</a>
        </li>
        {% if current_user %}
        <li>
          <a href="/basket">Корзина</a>
        </li>
        <li>
          <a href="/orders">Заказы</a>
        </li>
        <li>
          <a href="/favorites">Избранное</a>
        </li>
        {% endif %}
        <li>
          <a href="/about">О нас</a>
        </li>
      </ul>
    </footer>
    <script>
      document.querySelector("#show-hide-navbar-menu").addEventListener("click", (e) => {
        console.log(document.querySelector("#navbar-menu"))
        document.querySelector("#navbar-menu").classList.toggle("navbar-menu-active")
      })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>