{% extends 'base.html' %}

{% load static %}

{% block header %}

    <header>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Категории</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
        </ol>
    </header>
    
{% endblock %}

    <!-- <li class="breadcrumb-item active"><a href="/category/{{ category.id }}">{{ category.name }}</a></li> -->

{% block content %}

    
    <div class="items-list">
    {% for product in products %}
        <div class="product-card" style="width: 18rem;">
            <div class="controls" product-id="{{ product.id }}">
                <div class="control-button inc">
                    <img src="{% static 'plus.svg' %}" alt="">
                </div>
                <div class="control-button count">
                    0
                </div>
                <div class="control-button dec">
                    <img src="{% static 'minus.svg' %}" alt="">
                </div>
                <div class="control-button in-basket">
                    <img src="{% static 'shop.svg' %}" alt="">
                </div>
            </div>
            <div class="image">
                <img src="{{ product.img.url }}" class="card-img-top" alt="...">
            </div>
            <div class="body">
                <h5 class="title">{{ product.name }}</h5>
                <p class="price"><span>{{ product.price }} </span><span>руб./шт.</span></p>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="pagination-container" aria-label="Page navigation example">
        <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        </ul>
    </div>
    
    <script>
        const controls = document.querySelectorAll(".controls")
        for (let i=0; i < controls.length; i++) {
            let control = controls[i]
            let product_id = control.getAttribute("product-id")
            let inc = control.querySelector(".inc")
            let dec = control.querySelector(".dec")
            let count = control.querySelector(".count")
            let in_basket = control.querySelector(".in-basket")
            inc.addEventListener("click", (e) => {
                count.innerHTML = parseInt(count.innerHTML) + 1
            })
            dec.addEventListener("click", (e) => {
                count.innerHTML = parseInt(count.innerHTML) - 1
                if (parseInt(count.innerHTML) === -1) {
                    count.innerHTML = 0
                }
            })
            in_basket.addEventListener("click", (e) => {
                data = new FormData()
                data.append("product_id", product_id)
                data.append("count", count.innerHTML)
                axios.post("/add_product/", data)
                .then(data => {
                    console.log("удачно добавлено")
                })
                .catch(error => {
                    console.log("ошибка")
                })
            })
        }
    </script>
{% endblock%}